.jumbotron {
    background-color: teal;
}


.nav-link {
    background-color: white;
    color:#da123a;
    font-weight: 600;
    font-size: 20px;
}

body {
    color: black;
    line-height: 1.5;
}

.teal-background {
    background-color: rgb(186, 224, 224);
}

.pink-background {
    background-color: #da123a;
}

.pink-text {
    color: #da123a;
}

h2 {
    padding: 10px;
}

.title1 {
    color: #df4160;
}

.title3 {
    color: teal;
}

.body-image {
    width: 400px;
}

.footer-background {
    background-color: teal;
}

.blacklink {
    color: black;
}

.thumbnail {
    width: 150px;
}

