.jumbotron {
    background-color: white;
}

body {
    color: black;
}

.title1 {
    color: #ff204c;
}

.title2 {
    color: #ff5700; 
}

.title3 {
    color: teal;
}

.body-image {
    width: 400px;
}

.footer-background {
    background-color: teal;
}

.blacklink {
    color: black;
}

.thumbnail {
    width: 150px;
}

